.contentt-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    
    background-color:$c2;
    border: 1px solid $c3;
    
    .content-box__info {
        padding: 1rem
    }
    .img-box {
        width: 100%;
        height: 150px;
        justify-content:center;
    
    }
    h6 {
        margin-top: 0.2rem;
        color: white;
    }

    p {
        color:$c5;
        margin: 0;
    }
    
    img{
        width: 100%;
        height: 100%;
    }
}