.collectionexplore {
    border: 1px solid gray !important;
    border-radius:2rem !important;
    padding:0 !important;
    margin:1rem 1rem !important;
    max-width: 410px !important;
    overflow: hidden;
    
  

 
}
.collectionexplore-box__img{
   
   height: 250px;
   overflow: hidden;
}
.custom-collection-grid {
    width:100%;
    margin: 0rem auto;
    padding :0.2rem;
    justify-content:center;
    align-items:center;
}

