.dropdown {
    ul {
        padding:0 !important;
    }
    
}
.dropdown-container {
    height: 100%;
    background-color: $c1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
   
 
        a {
            text-decoration: none;
            color: white;
            padding: 0.5rem;
        }

}