.custom-grid {
 
    width:100%;
    margin: 1.5rem auto;
    padding :1rem;
    max-width:110rem;
    justify-content:space-around;
     
     hr {
        color:$c3;
        border:1px solid $c3;
     }
}
.grid-image {
    width:100%;
    height:100%;
    margin-top: 0.5rem;
    
   
    img {
        width:100%;
        height:100%;
        border-radius: 1.2rem;
    }
}
.grid-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin: 0.5rem;
    margin-top: 6rem !important;
    
    h3{
        font-size:3rem;
    }
    h6 {
        font-size: 2rem;
        color:rgb(122, 126, 133);
    }
}