#section-work {

  display: flex;
  flex-direction: row;
  align-items:flex-start;
  
  
  height: calc(100vh - 65px);

}
#header {
  font-size: 2rem;
  color: #08fdd8;
  margin-bottom: 30px;
}
.text-zone-2 p {
  line-height: 1.5;
}
.fake-big-2 {
  font-size: 12rem;
  font-weight: 700;
  position: absolute;
  color: #2d2d2e;
  left: 10px;
  bottom: -70px;
  letter-spacing: -10px;
  z-index: -999;
}
.fake-magicwall {
  display: flex;
  flex-direction: row;
  width:100%;
  
  
}
.fake-magicwall {
  width: 100%;
  height: 100%;
   
  ul {
    list-style: none;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    margin:0;
    padding: 0;
    height:100%;
    overflow: hidden;
    li {
      flex:50%;
      width: 100%;
      width: 161px;
      height: 25%;
    
      position: relative;
      overflow: hidden;
      display: list-item;
    }
    li:nth-child(odd) {
        animation: toRightRotate 2s;
        
    }
    li:nth-child(even) {
        color: blue;
        animation: toLeftRotate 2s;
    }
  }
}



.fake-magicwall .magic-wall_item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item {
  transform: scale(1.14);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("circle.png") no-repeat center;
  opacity: 0;
  transition: all 150ms ease-out;
  -o-transition: all 150ms ease-out;
  -webkit-transition: all 150ms ease-out;
  transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox {
  transform: scale(0.6);
  opacity: 1;
}

@media screen and (min-width: 950px) {
  header {
    justify-content: flex-end;
    align-items: flex-end;
  }
  .btns-container {
    display: none;
  }

  .aside {
    width: 10%;
    height: 100%;
  }
  .aside-wrapper {
    height: 80%;
  }
  .logo-section {
    min-height: 25vh;
  }
  .logo img {
    width: 50px;
    height: auto;
  }
  .social-icons {
    margin-bottom: 0;
    text-align: center;
  }
  .social-icons li {
    font-size: 1rem;
  }

  /* home section */
 
  .text-zone h1 {
    font-size: 6.3rem;
    line-height: 85px;
    letter-spacing: -6px;
  }
  .text-zone img {
    width: 50px;
    height: 72px;
  }
  .text-zone .gray-text {
    font-size: 1rem;
  }
  .scroll-down {
    right: -30px;
    bottom: 3.3rem;
  }
  .scroll-down--left {
    left: 110px;
    right: auto;
  }
  /* this is tht end of section home */

  /* part 2 media query bigger screens starts here */
  #section-work {
    width: 100%;
    display: flex;
    align-items: flex-start;
   
      height: calc(100vh - 4.5rem);
 

  }
  .text-zone-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header {
    font-size: 2.5rem;
  }
  .text-zone-2 p {
    width: 700px;
    font-size: 14px;
    line-height: 1.5rem;
  }
  .fake-big-2 {
    font-size: 25rem;
    font-weight: 700;
    left: 560px;
    top: 0;
  }
  .fake-magicwall {
    height:100%;

    ul {
        display: flex;
        flex: row;
        width: 100%;
        height: 100%;
     
      padding: 0;
    }
  }
  .fake-magicwall ul li {
    flex: 25%;
    height: 33.333%;
    
  }
}

@keyframes toLeftRotate {
    0% {
      opacity: 0;
      transform: translateX(300px) rotate(45deg);
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }
  @keyframes toRightRotate {
    0% {
      opacity: 0;
      transform: translateX(-300px) rotate(-45deg);
    }
    to {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    
    }
  }
